body{
    line-height: 1;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
}
.container{
    margin: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

span:hover{
    color: yellow;
    cursor: pointer;
}

tr:nth-child(even) {background-color: #f2f2f2;}